%meta{:charset => "utf-8"}

%title= draw_page_title_for 'admin'

= csrf_meta_tags

-# Meta
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

-# Compatibility
%meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1"}

-# Icons

-# Cross-browser
/[if lt IE 9]
  = javascript_include_tag "//html5shim.googlecode.com/svn/trunk/html5.js"

-# Stylesheets
= stylesheet_link_tag "admin/application", :media => "all"
