%li.divider-vertical
%li.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
    %strong= current_admin.full_name
    %b.caret
  %ul.dropdown-menu
    %li= link_to t('devise.sign_out'), destroy_admin_session_path, :method => :delete
